

<plotly-plot [data]="graph1.data" [layout]="graph1.layout" [style]="{ position: 'relative', width: '100%', height: '450px' }" (doubleClick) ="clickEvent($event)"></plotly-plot>
<plotly-plot [data]="graph1.data" [layout]="graph1.layout" [style]="{ position: 'relative', width: '100%', height: '450px' }" (doubleClick) ="clickEvent($event)"></plotly-plot>
<plotly-plot [data]="graph1.data" [layout]="graph1.layout" [style]="{ position: 'relative', width: '100%', height: '450px' }" (doubleClick) ="clickEvent($event)"></plotly-plot>
<plotly-plot [data]="graph1.data" [layout]="graph1.layout" [style]="{ position: 'relative', width: '100%', height: '450px' }" (doubleClick) ="clickEvent($event)"></plotly-plot>
<plotly-plot [data]="graph1.data" [layout]="graph1.layout" [style]="{ position: 'relative', width: '100%', height: '450px' }" (doubleClick) ="clickEvent($event)"></plotly-plot>
<plotly-plot [data]="graph1.data" [layout]="graph1.layout" [style]="{ position: 'relative', width: '100%', height: '450px' }" (doubleClick) ="clickEvent($event)"></plotly-plot>

